header {
  background: url(/examenkerst-XenXheka/images/wave.svg);
  background-position: start;
  background-size: cover;
  margin: 0;
  height: 25vh;
}
.container {
  display: flex;
  justify-content: end;
  position: relative;
  gap: 20px;
}
.item1 {
  position: absolute;
  left: 9px;
}
.items a {
  text-decoration: none;
  color: black;
}
.container .item1 img {
  height: 50px;
}
.section1 .items2 img {
  height: 200px;
  border-radius: 20px;
}
.item2 {
  display: flex;
  justify-content: end;
}
section .section1 .item2 p {
  display: flex;
  flex: 0 0 auto;
}

section .section1 {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.section1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
section .section2 {
  height: 390px;
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.section2 .items3 {
  max-width: 375px;
  overflow: hidden;
}
.section2 .items3 img {
  height: 300px;
  max-width: initial;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.footer1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  color: white;
  height: 50px;
}

.itemss {
  border: 2px blue solid;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  max-width: initial;
}
